// 

@import "../../app.scss";

.navbar {
  height: 100px;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include mobile {
      width: 90%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }

    span {
      font-weight: bold;
      margin-left: 10px;

      @include mobile {
        font-size: 13px;
        margin-left: 0;
        letter-spacing: 0.03em;
      }
    }

    .social {
      display: flex;
      gap: 20px;

      @include mobile {
        gap: 12px;
        margin-left: 0;
      }

      img {
        width: 25px;
        height: 25px;

        @include mobile {
          width: 18px;
          height: 18px;
        }
      }
    }
  }

  @include mobile {
    height: 60px;
  }
}